.boxarea {
    width: 8cm;
    height: 4cm;
    float: left;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.boxverde {
    height: 100%;
    float: left;
    background-color: #28a745;
}

.boxrosso {
    height: 100%;
    float: left;
    background-color: #dc3545;
}

.boxcodarea {
    position: absolute;
    width:100%;
    text-align: center;
    top: 50%;
    font-size: 40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

::ng-deep app-mat-edit-table{
    width: 100%;
    display: inline-block;
}