.boxverde {
    width: 7cm;
    height: 4cm;
    float: left;
    background-color: green;
    border: solid 1px;
    margin: 5px;
    position: relative;
}

.boxcodarea {
    position: absolute;
    width:100%;
    text-align: center;
}

.boxrosso {
    height: 100%;
    float: right;
    background-color: red
}